<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link rel="icon" href="/favicon-32x32.png" type="image/png">

<!-- Title -->
  <title>Project #29 | Node Version</title>

<!-- CSS Stylesheet -->
  <link rel="stylesheet" href="css/style.css">


</head>
<body>

<!-- Whole Card -->
      <main>

            <div class="semi-main">
          
                <h1>Advice # <%=  theAdviceID %> </h1>
                <blockquote>" <%= theAdviceText %> "</blockquote>
            
            
                <div class="divider">
                      <picture>
                            <source media="(max-width: 499px)" srcset="images/pattern-divider-mobile.svg">
                            <source media="(min-width: 500px)" srcset="images/pattern-divider-desktop.svg">
                            <img src="images/pattern-divider-mobile.svg" alt="pattern-divider-mobile">
                      </picture>
                </div>
          
          </div>
          
                <form action="/" method="post">
                      <button type="submit">
                            <img src="images/icon-dice.svg" alt="icon-dice">
                      </button>
                </form>
          
          </main>

</body>


</html>
